<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>开源许可证推合规推荐后台管理</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('index') }}static/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('index') }}static/css/admin.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>

		<script src="{{ url_for('index') }}static/bootstrap/js/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ url_for('index') }}static/bootstrap/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ url_for('index') }}static/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

		<script>
			$(function() {
			    $(".menu-item").click(function() {
			        $(".menu-item").removeClass("menu-item-active");
			        $(this).addClass("menu-item-active");
			        var itmeObj = $(".menu-item").find("img");
			        itmeObj.each(function() {
			            var items = $(this).attr("src");
			            items = items.replace("_grey.png", ".png");
			            items = items.replace(".png", "_grey.png")
			            $(this).attr("src", items);
			        });
			        var attrObj = $(this).find("img").attr("src");
			        ;
			        attrObj = attrObj.replace("_grey.png", ".png");
			        $(this).find("img").attr("src", attrObj);
			    });
			})
		</script>
		
	</head>
	<body>
		<!--  header -->
		<div class="header">
			<!-- logo 点击logo图片能跳转到首页 -->
			<div class="logo">
				<a href="#">
					<img src="{{ url_for('index') }}static/images/logo.png">
				</a>
			</div>
			<div class="header-title">
				<span>开源许可证推合规推荐后台管理系统</span>
			</div>
			<!-- 管理员信息 -->
			<div class="header_right">
				<div class="dropdown">
				  <a class="menu-item-user dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
				    <span class="menu-item-img">
						<img src="{{ url_for('index') }}static/images/touxiang.png" >
					</span>
					<span class="menu-item-name">管理员</span>
				  </a>
				
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				   
				    <li><a class="dropdown-item" href="{{ url_for('logout') }}">退出登录</a></li>
				  </ul>
				</div>
			</div>
		</div>
		
		<!-- 左侧导航栏 -->
		<div class="left-menu">
			<ul class="nav flex-column">
				<li class="nav-item menu-title">
					账号管理
				</li>
				<li class="nav-item menu-item">
					
					<a class="nav-link active" aria-current="page" href="{{ url_for('admin_rolelist', userid=userid) }}">
						<img src="{{ url_for('index') }}static/images/level.png">
						权限
					</a>
				</li>
				<li class="nav-item menu-item">
					
					<a class="nav-link" href="{{ url_for('admin_userlist', userid=userid) }}">
						<img src="{{ url_for('index') }}static/images/user_grey.png">
						用户
					</a>
				</li>
				<li class="nav-item menu-title">
					系统管理
				</li>
				<li class="nav-item active menu-item menu-item-active">
					
					
					<a class="nav-link" href="{{ url_for('admin_licenselist', userid=userid) }}">
						<img src="{{ url_for('index') }}static/images/license_grey.png">
						许可证
					</a>
				</li>
			 
			</ul>
			
		</div>
		
		<!-- 右侧内容区 -->
		<!-- 右边内容区 -->
		<div class="right-content">
			<div class="check-box row">
			    <div class="col-8">
			        <button class="btn" >更新 </button>
			    </div>
			    <div class="col-4 search ">
			        <input type="text"  placeholder="输入文字搜索">
			        <button class="btn">查询 </button>
			    </div>					    
				
			</div>
			
			<div class="data-div">
				<div class="row tableHeader">
				    <div class="col-2 ">
				        编号
				    </div>
				    <div class="col-2">
				        名称
				    </div>
				    <div class="col-6">
				        内容
				    </div>
				    
				</div>
				<div class="tablebody">
									
				    <div class="row">
				        <div class="col-2 ">
				            1
				        </div>
				        <div class="col-2">
							0-clause BSD License (0BSD)
				        </div>
				        <div class="col-6">
							<p>
								Zero-Clause BSD (0BSD)
								SPDX short identifier: 0BSD
								
								Note: Despite its name, Zero-Clause BSD is an alteration of the ISC license, and is not textually derived from licenses in the BSD family. Zero-Clause BSD was originally approved under the name "Free Public License 1.0.0".
								
								Zero-Clause BSD
								Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted.
								
								THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
							
							</p>
						</div>
				    
				        <div class="col-2">
				            <button class="btn btn-success btn-xs" data-bs-toggle="modal" data-bs-target="#reviseLicense">修改</button>
				            <button class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#deleteLicense">删除</button>
				        </div>
				    </div>
									
				</div>
				
				<!--弹出修改许可证窗口-->
				<div class="modal fade" id="reviseLicense" role="dialog">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
								<h4>class="modal-title"修改许可证</h4>
				                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				                
				            </div>
				            <div class="modal-body">
				                <div class="container-fluid">
				                    <form class="form-horizontal">
				                        <div class="form-group ">
				                            <label class="col-3 control-label">名称：</label>
				                            <div class="col-8 ">
				                                <input type="" class="form-control input-sm duiqi" placeholder="">
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label class="col-3 control-label">内容：</label>
				                            <div class="col-8 ">
				                                <input type="" class="form-control input-sm duiqi" placeholder="">
				                            </div>
				                        </div>						                    
										
				                    </form>
				                </div>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-xs btn-white" data-bs-dismiss="modal">取 消</button>
				                <button type="button" class="btn btn-xs btn-green">修 改</button>
				            </div>
				        </div>
				        <!-- /.modal-tool -->
				    </div>
				    <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				
				<!--弹出删除许可证警告窗口-->
				<div class="modal fade" id="deleteLicense" role="dialog">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
								<h4 class="modal-title" >提示</h4>
				                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				                
				            </div>
				            <div class="modal-body">
				                <div class="container-fluid">
				                    确定要删除该许可证？删除后不可恢复！
				                </div>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-xs btn-white" data-bs-dismiss="modal">取 消</button>
				                <button type="button" class="btn  btn-xs btn-danger">确 定</button>
				            </div>
				        </div>
				        <!-- /.modal-tool -->
				    </div>
				    <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				
			</div>
			
			<!--页码块-->
			<footer class="footer">
			    <nav aria-label="Page navigation">
			      <ul class="pagination">
			        <li class="page-item">
			          <a class="page-link" href="#" aria-label="Previous">
			            <span aria-hidden="true">&laquo;</span>
			          </a>
			        </li>
			        <li class="page-item"><a class="page-link" href="#">1</a></li>
			        <li class="page-item"><a class="page-link" href="#">2</a></li>
			        <li class="page-item"><a class="page-link" href="#">3</a></li>
			        <li class="page-item">
			          <a class="page-link" href="#" aria-label="Next">
			            <span aria-hidden="true">&raquo;</span>
			          </a>
			        </li>
			      </ul>
			    </nav>
			</footer>
			
			
		</div>
	</body>
</html>
